
*{
    margin: 0px;
    padding: 0px;
}    
nav{
   cursor: pointer;
    position: fixed;
    width: 100rem;
    background-color:black;
    height: 60px;
    
}
.lists{
    
    display: flex;
    align-items: center;
    justify-content: center;

}
.lists li{
    
 color: white;
    margin: 12px 12px;
    list-style-type: none;
}
.lists a{
   
    color: white;
}
nav button{  
    font-size:14px;
    height: 40px;
    width: 150px;
    
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    height: 60rem;
    width: 100rem;
    background-color: black;
    display: flex;
    flex-direction: column;
}
table{

    margin: auto;
}
table th{
     padding-top: 35px;
      color: yellow;
}
table tr{
    margin: 7px 12px;
}

table td {
    text-align: center;
    padding: 12px 17px;
    color: aliceblue;
    width: 316px;
}
p {
    margin-left:100px;
    font-family: 'Source Sans Pro', sans-serif;
    color:white;
    line-height: 25px;
    font-size: 16px;
}
/* .cont{
      
} */
.cont table{
    float: left;
     color: aliceblue;
}
.cont h3{
    color: azure;
}
.cont td{
    width: 600px;
}

.cont1{
    margin:auto;
}
.cont1 img{
    height: 300px;
    width: 200px;
    margin: 0px 32px;
}
.cont2 { 
    height: 0px;
}

.cont2 h3{
    text-align: left;
    color: yellow;
    padding: 0px 100px;
}
.cont2 img{
    padding: 15px 100px;
}
.cont2 iframe {
    margin: -284px;
    height: 170px;
    width: 156px;
    padding: 100px 80px;
}
button{
   
    box-shadow: 0px;
    border-radius: 5%;
    border:1px solid;
    background-color:yellow;
    color: black;
    cursor: pointer;
}
button:hover{
    background-color:black;
   
    color: yellow;
}
.cont1 img:hover{
    
    opacity:0.7;
}
footer{
    background: -o-repeating-linear-gradient();
    color: aliceblue;
    background-color: black;  
    justify-content: center;
    height: 100%;
    width:100rem;
}

figure img {
    width: 100rem;
   
} 

@media only screen and (max-width:1600px ){

    
     }

    